<mat-nav-list>
    <a *ngIf="!isAuth" mat-list-item routerLink="/signup" (click)="onCloseSidenav()">
      <mat-icon>Fin de semana</mat-icon>
      <span class="nav-space">Signup</span>
      
    </a>
    <a *ngIf="!isAuth" mat-list-item routerLink="/login" (click)="onCloseSidenav()">
      <mat-icon>Input</mat-icon>
      <span class="nav-space">Login</span>
    </a>
    <a *ngIf="isAuth" mat-list-item routerLink="/" (click)="onLogout()">
      <mat-icon>settings_power</mat-icon>
      <span class="nav-space">Cerrar Sesión</span>
    </a>
  </mat-nav-list>
  