<mat-toolbar  class="w-100">
    <button mat-icon-button  [hidden]="!signedIn || role=='admin' " (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon >Menú</mat-icon>
      </button>    
      <span class="text-center title spacer">Renta De Apartamento</span> 
        <a mat-button routerLink="/signup"  class="menu" *ngIf="!signedIn">Ingresar</a>
        <a mat-button routerLink="/login"  class="menu" *ngIf="!signedIn">Acceso</a>
        <a mat-button routerLink="/login"  class="menu" *ngIf="signedIn && role =='admin'">Cerrar Sesión</a>       
</mat-toolbar>
<mat-sidenav-container >
  <mat-sidenav #sidenav [hidden]="!signedIn || role=='admin'" >
    <mat-nav-list>
      <a  class="user"   *ngIf=" signedIn && id" mat-list-item><mat-icon>Cuenta_Circulo</mat-icon> Hola, {{username}}</a> 
      <div class="menu">
        <a  [routerLink]= "['/dashboard',id]" mat-list-item><mat-icon>Personalizar_Tablero</mat-icon>Tablero</a>   
        <a  [routerLink]= "['/addnewproperty']" mat-list-item (click)="handleAddNew()"><mat-icon>maps_home_work </mat-icon>Añadir nuevo propietario</a>
        <a routerLink="#" mat-list-item><mat-icon>Bloquear</mat-icon>  Mi cuenta</a>
        <a  [routerLink]="['/addtenant']" mat-list-item><mat-icon>add_circle_outline</mat-icon>Agregar inquilino</a>
        <a  [routerLink]="['/tenantslist']" mat-list-item><mat-icon>Recorrido</mat-icon> Lista inquilino</a>
        <a  [routerLink]= "['/propertycontactrequests']" mat-list-item><mat-icon>contact_phone</mat-icon> Solicitudes de contacto</a>
        <a routerLink="#" mat-list-item  *ngIf="signedIn" (click)="logout()"><mat-icon>Cerrar Sesión</mat-icon> Desconectar</a>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content ><router-outlet></router-outlet></mat-sidenav-content>
</mat-sidenav-container>

  
