<div class="login-form">
    <mat-card> 
        <mat-card-title class="header" color="primary">
            <mat-toolbar color="primary">Bienvenido de nuevo </mat-toolbar></mat-card-title>    
        <mat-card-content>                  
           
            <form (ngSubmit)="login()" id="login">
                <div class="row">
                  <div class="col-md-12">
                    <input
                      type="text"
                      id="usuario"
                      [(ngModel)]="persona.usuario"
                      [ngModelOptions]="{ standalone: true }"
                      placeholder="Usuario"
                      class="form-control"
                      required
                    />
                  </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                      <input
                        type="password"
                        id="contra"
                        [(ngModel)]="persona.contrasena"
                        [ngModelOptions]="{ standalone: true }"
                        placeholder="Contraseña"
                        class="form-control"
                        required
                      />
                    </div>
                </div>
                    <br>
                    <div class="row">
                    <div class="col-md-12">
                        <input class="btn btn-success float-right" type="submit" value="Ingresar" >
                    </div>
                    </div>
              </form>
        </mat-card-content>
    </mat-card> 

    <!-- <button (click)="closeDialog()"> cancel</button> -->
</div>

