<div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Bienvenido {{persona.nombre}}</h1>
      </div>
      
     <div class="content">
      <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container-fluid">
          <ul class="navbar-nav">
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link active" [routerLink]="['/menucliente']">Inicio</a>
            </li>
          </ul>
        </div>
      </nav>
     </div>
    </div>
    </div>